<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TimeInterval" value="5"/> <!--In Seconds-->
    <!--Parameters can be Plant Or Machine-->
    <add key="ParametersForProc" value="Plant"/>

    <add key="ConnectionString" value="Data Source=DESKTOP-4TEHJ4J\SQLEXPRESS2; Initial Catalog=TPM;max pool size=500;uid=sa;pwd=pctadmin$123" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>